{% extends "./layouts/app.twig" %}

{% block content %}
    <div class="bg-dark p-3 rounded text-white">
        <form method='post'>
            <fieldset>
                <legend>New Kitchen</legend>
                <div class="mb-3">
                    <label for="TextInput" class="form-label">Name</label>
                    <input type="text" id="TextInput" class="form-control" value="{{kitchen.name}}" name="name">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea
                    class="form-control" rows="10" id="exampleFormControlTextarea1"
                    placeholder="Enter a description" name="description" >{{kitchen.description}}</textarea>
                </div>
                <a href="/" class="btn btn-secondary">Back</a>
                <button type="submit" class="btn btn-secondary">Submit</button>
            </fieldset>
        </form>
    </div>
{% endblock %}